body {
    margin: 0;
}

.header {
    background: url(images/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.header-div {
    position: absolute;
    width: 826px;
    height: 320px;
    padding-left: 307px;
    padding-top: 174px;
    color: aliceblue;
}