body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: white;
    text-align: center;


}

.header-text {
    padding-top: 150px;
}

.header-text h1 {
    padding: 0 307px;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 5px black;
    border: 2px;
}

.header-text p {
    padding: 20px 307px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.39);
}

.donate-button {
    margin-top: 100px;
}

.donate-button a {
    background-image: linear-gradient(blue, skyblue);
    padding: 20px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 20px;
}

.select-amount {
    display: flex;
    margin: 0 200px;
}

.donation-content {
    text-align: center;
}

.donation-content h1 {
    font-size: 50px;
    font-weight: 800;
}

.donation-content p {
    font-size: 20px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.747);
}

.select-amount div {
    padding: 25px 40px;
    background-color: rgba(128, 128, 128, 0.158);
    margin: 10px 10px;
    font-size: 30px;
    font-weight: 800;
}

.selected-amount {
    border: 2px solid rgb(2, 60, 252);
    border-radius: 5px;
    color: rgb(2, 60, 252);

}

.other-amount {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.452);
    margin-top: 40px;
    width: 400px;
    text-align: center;
}

.submit-button {
    padding: 20px 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(blue, skyblue);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.plan-content {
    text-align: center;
    padding-bottom: 50px;

}

.plan-content h1 {
    font-size: 50px;
    font-weight: 800;

}

.donate-plan {
    margin: 70px 20px;
}

.donate-plan-option {
    display: flex;
}

.donate-plan-option p {
    text-align: justify;
}

.family-plan {
    background-color: #edf5f6;
    height: 250px;
    margin-right: 20px;
    padding: 40px 20px;
}

.shelter-plan {
    background-color: #ffeeee;
    height: 250px;
    margin-right: 20px;
    padding: 40px 20px;
}

.education-plan {
    background-color: #fff4d6;
    height: 250px;
    padding: 40px 20px;
}